/*** transition : floatup ***************************************************/
/*** need: simultaneous transition settings *********************************/

@import "../_mixins.scss";
@import "_constant.scss";

// keyframes for floatup in
@keyframes floatupin {
    from {
        opacity: 0;
        transform: translate3d(0,#{$transition-floatup-new-page-offset},0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

// keyframes for floatup out
@keyframes floatupout {
    from {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    to {
        opacity: 0;
        transform: translate3d(0,#{$transition-floatup-new-page-offset},0);
    }
}

.floatup.out {
    z-index: 0;
    &.reverse {
        z-index: 10;
    }
}

.floatup.in {
    z-index: 10;
    animation: floatupin #{$transition-floatup-duration} forwards;
    &.reverse {
        z-index: 0;
    }
}

.floatup.out.reverse {
    animation: floatupout #{$transition-floatup-duration} forwards;
}

.floatup.out, .floatup.in.reverse {
    animation-name: transition-no-effect;
    animation-duration: $transition-floatup-duration;
}
