/*** transition : jqm slideup override ***************************************************/
/*** need: simultaneous transition settings **********************************************/

@import "../_mixins.scss";

.slideup.out {
    animation-duration: 250ms;
    z-index: 0;
    &.reverse {
        z-index: 10;
    }
}

.slideup.in.reverse {
    z-index: 10;
    &.reverse {
        animation-duration: 200ms;
        z-index: 0;
    }
}

.slideup.out, .slideup.in.reverse {
    animation-name: transition-no-effect;
}
