@import "_utils.scss";

#nativebridge-console {
    position: relative;
    width: 96%;
    height: 100px;
    margin: 16px auto;
    padding: 10px;
    opacity: .6;
    background-color: black;
    font-size: 16px;
    overflow: auto;
    z-index: 0;

    > p {
        color: deepskyblue;
    }
}

#nativebridge-root {
    .nativebridge-segument-selector {
        min-width: 142px;
    }
    .nativebridge-storage-output {
        position: relative;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        overflow-y: auto;
        text-indent: 4px;
        white-space: pre-wrap;
        color: gold;
        background-color: black;
    }
}
