@import "cdp/utils/_utils.scss";

// -webkit-scrollbar
@mixin webkit-scrollbar {
    ::-webkit-scrollbar {
        width: 6px;
    }     

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        background: rgba(255,255,255,0.8); 
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,255,255,0.4); 
    }
}
