# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# project files
*.csproj.user
*.suo

# project ignores
!.gitkeep
.vs/
bin/
node_modules/
node_modules/
obj/
temp/
packages/cafeteria/app/external/@types/@cdp
packages/cafeteria/app/external/cdp
packages/cafeteria/platforms/ios/Cafeteria.xcarchive
packages/cafeteria/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/ogata.xcuserdatad
packages/cafeteria/platforms/ios/Cafeteria.xcodeproj/xcuserdata/ogata.xcuserdatad
packages/cafeteria/tasks
