<article data-role="page" id="page-example-page-expandable-listview" data-theme="b">
    <header data-role="header" data-position="fixed" data-tap-toggle="false">
        <a href="#" data-rel="back" data-icon="back" data-iconpos="notext"></a>
        <h1 data-i18n="page-example-listview.pageListView.titleExpandableListView">Sample: Page Expandable List View</h1>
        <a href="#options" data-transition="slideup" data-icon="gear" data-iconpos="notext"></a>
    </header>
    <section class="ui-content normal-screen listview-scroll-map expandable-listview" role="main"></section>
</article>
