<article data-role="page" id="page-example-root" data-theme="a">
    <header data-role="header" data-position="inline">
        <h1 data-i18n="page-common.appName">Hello World!!</h1>
        <a href="#options" class="ui-btn-right" data-transition="slideup" data-icon="gear" data-iconpos="notext"></a>
    </header>
    <section data-role="content">
        <h3 data-i18n="page-example-root.description">Sample Implementation Entries.</h3>
        <a href="/templates/listviews/listview-root.html" data-role="button" data-transition="example-selected" data-icon="grid" data-i18n="page-example-root.listviews">Virtual List View Examples</a>
    </section>
</article>
