<article data-role="page" id="page-options"  class="ui-responsive-panel" data-theme="b">
    <header data-role="header" data-position="inline">
        <a href="back" data-rel="back" data-transition="fade" data-i18n="page-common.close">Close</a>
        <h1 data-i18n="page-options.title">Options</h1>
    </header>
    <section data-role="content">
        <label for="select-transtion" class="select" data-i18n="page-options.labelTransition">Transition:</label>
        <!-- select box は Native Menu を使用する。close ボタンにて、特殊な履歴管理を行っているため、選択項目が popup されると機能しなくなるため -->
        <select name="select-transtion" id="option-select-transition" data-native-menu="true">
            <option value="none">None</option>
            <option value="pop">Pop</option>
            <option value="fade">Fade</option>
            <option value="slide">Slide</option>
            <option value="slideup">Slide Up</option>
            <option value="slidedown">Slide Down</option>
            <option value="slidefade">Slide Fade</option>
            <option value="flip">Flip</option>
            <option value="turn">Turn</option>
            <option value="flow">Flow</option>
        </select>

        <label for="flip-transition-logger" data-i18n="page-options.labelPerfomance">Performance Log:</label>
        <select name="transition-logger" id="flip-transition-logger" data-role="slider" data-mini="true">
            <option value="off" data-i18n="page-common.off">Off</option>
            <option value="on" data-i18n="page-common.on">On</option>
        </select>

        <label for="flip-device-console" data-i18n="page-options.labelDeviceConsole">Device Console:</label>
        <select name="setting-device-console" id="flip-device-console" data-role="slider" data-mini="true">
            <option value="off" data-i18n="page-common.off">Off</option>
            <option value="on" data-i18n="page-common.on">On</option>
        </select>

    </section>
</article>







