/*** android structure: checkbox ***************************************************/

@import "../../_mixins.scss";

.ui-platform-android {
    .ui-checkbox {
        .ui-btn {
            &:before {
                content:        "";
                position:       absolute;
                width:          12px;
                height:         12px;
                border:         solid 2px;
                margin-top:     -8px;
                border-radius:  2px;
                transition:     border-color 0.32s ease, background-color 0.32s ease;
            }
            &:after {
                @include declare-check-mark-structure();
                margin:     -4px 4px 0 4px;
                transform:  scale(0) rotate(45deg);
                transition: transform 0.32s ease-in-out;
            }
            &.ui-checkbox-on {
                &:after {
                    margin:     -7px 5px 0 4px;
                    opacity:    1;
                    transform:  scale(1) rotate(45deg);
                }
            }
            // icon structure overwrite
            &.ui-btn-icon-notext, &.ui-btn-icon-left, &.ui-btn-icon-right {
                &:before {
                    margin-top: -8px;
                }
            }
            &.ui-btn-icon-notext, &.ui-btn-icon-top, &.ui-btn-icon-bottom {
                &:before {
                    margin-left: -8px;
                }
            }
            &.ui-btn-icon-notext {
                &.ui-checkbox-off, &.ui-checkbox-on {
                    &:after {
                        margin-left: -4px;
                    }
                }
            }
        }
    }
}
