/*** android structure: dialog ***************************************************/

@import "../../_mixins.scss";
@import "../_metrics.scss";

.ui-platform-android {
    .ui-modal {
        width:          280px;
        border-radius:  3px;

        .ui-content {
            padding: 24px 24px 20px;

            .ui-title {
                margin-bottom:  20px;
                font-size:      20px;
                font-weight:    $font-weight-medium;
                text-align:     left;
            }

            .ui-message {
                font-size:      16px;
                font-weight:    $font-weight-regular;
                text-align:     left;
            }
        }

        .ui-modal-footer {
            display:            flex;
            padding:            6px 8px;
            border:             none;
            -webkit-box-pack:   end;
            justify-content:    flex-end;

            button, .ui-btn {
                width:          auto;
                height:         36px;
                min-width:      64px;
                font-size:      14px;
                border:         none;
                border-radius:  0;
                &.ui-text-emphasis {
                    font-weight: $font-weight-bold; // 強調ボタンは bold
                }
                &:first-child {
                    border-bottom-left-radius: 3px;
                }
                &:last-child {
                    border-bottom-right-radius: 3px;
                }
            }
        }
    }
}
