/*** android structure: radio buttons ***************************************************/

@import "../../_mixins.scss";

.ui-platform-android {
    .ui-radio {
        .ui-btn {
            &:before {
                content:        "";
                position:       absolute;
                width:          12px;
                height:         12px;
                border:         solid 2px;
                margin-top:     -8px;
                border-radius:  50%;
                transition:     border-color 0.32s ease, background-color 0.32s ease;
            }
            &:after {
                width:          8px;
                height:         8px;
                margin:         -4px 4px 0 4px;
                border-width:   0;
                border-radius:  50%;
                transition:     transform 0.32s ease-in-out;
            }
            &.ui-radio-off {
                &:after {
                    transform: scale(0);
                }
            }
            &.ui-radio-on {
                &:after {
                    transform: scale(1);
                }
            }
        }
    }
}
