@import "utils";

body {
    article {
        .listview-scroll-map {
            position: relative;
            width: 100%;
            overflow: hidden;
            // ICS 端末にて上部スクロール領域がちらつく問題の対応
            // scroll-map に H/W accel がかかるようにすると回避可能
            @include transform-props(translate3d(0,0,0));
            > .listview-item-base {
                position: absolute;
                width: 100%;
                top: 0;
            }
        }
    }
}
