@import "constant";

@mixin orientation-landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin orientation-portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin media($media-type) {
    @if $media-type == tablet {
        @media only screen and (min-width: $bp-table-threshold) and (min-height: $bp-table-threshold){
            @content;
        }
    }
    @else if $media-type == phone {
        @media only screen and (orientation: landscape) and (max-height: $bp-phone-threshold){
            @content;
        }
        @media only screen and (orientation: portrait) and (max-width: $bp-phone-threshold){
            @content;
        }
    }
}

// font
@mixin font-text-overflow($value: ellipsis) {
    -ms-text-overflow: $value;
     -o-text-overflow: $value;
        text-overflow: $value;
}

@mixin font-base($size, $align: left, $overflow: ellipsis) {
    text-align: $align;
    vertical-align: middle;
    @include font-text-overflow($overflow);
    font-size: $size;
    font-weight: normal;
}

@mixin font-base-set($align: left, $overflow: ellipsis) {
    @include font-base(1em, $align, $overflow);

    &.text-s {
        font-size: 10px;
    }
    &.text-m {
        font-size: 12px;
    }
    &.text-l {
        font-size: 14px;
    }
    &.text-2l {
        font-size: 16px;
    }
    &.text-2l-5l {
        font-size: 18px;
    }
    &.text-3l {
        font-size: 24px;
    }
    &.text-4l {
        font-size: 32px;
    }
}

// background-size with vender prefix
@mixin background-sizes($values...) {
    -webkit-background-size: $values;
       -moz-background-size: $values;
         -o-background-size: $values;
            background-size: $values;
}

// background image center crop.
@mixin background-center-crop {
    background-position: center;
    background-repeat: no-repeat;
    @include background-sizes(cover);
}

// get background drawable path.
@mixin background-nodpi-url($path) {
    @include background-center-crop;
    background-image: url("#{$drawable-root}nodpi/#{$path}");
}

// get background drawable path with media queries.
@mixin background-drawable-url($path) {
    @include background-center-crop;
    background-image: url("#{$drawable-root}mdpi/#{$path}");

    @media screen and (-webkit-device-pixel-ratio: 3) {
        background-image: url("#{$drawable-root}xxhdpi/#{$path}");
    }
    @media screen and (-webkit-device-pixel-ratio: 2) {
        background-image: url("#{$drawable-root}xhdpi/#{$path}");
    }
    @media screen and (-webkit-device-pixel-ratio: 1.5) {
        background-image: url("#{$drawable-root}hdpi/#{$path}");
    }
    @media screen and (-webkit-device-pixel-ratio: 1) {
        background-image: url("#{$drawable-root}mdpi/#{$path}");
    }
    @media screen and (-webkit-device-pixel-ratio: .75) {
        background-image: url("#{$drawable-root}mdpi/#{$path}");
    }
}

// shadow
@mixin linear-gradient-shadow($direction, $colors...) {
    background-image: -webkit-linear-gradient($direction, $colors);    // For Chrome and Safari
    background-image:    -moz-linear-gradient($direction, $colors);    // For old Fx (3.6 to 15)
    background-image:     -ms-linear-gradient($direction, $colors);    // For pre-releases of IE 10
    background-image:      -o-linear-gradient($direction, $colors);    // For old Opera (11.1 to 12.0)
    background-image:         linear-gradient($direction, $colors);    // Standard syntax; must be last
}

// border
@mixin border-radiuses($value) {
   -webkit-border-radius: $value;
      -moz-border-radius: $value;
           border-radius: $value;
}

// transform
@mixin transform-props($value) {
    -webkit-transform: #{$value};
       -moz-transform: #{$value};
        -ms-transform: #{$value};
         -o-transform: #{$value};
            transform: #{$value};
}

// css transition properties
@mixin hardware-accelerator-props {
    @include transform-props(scale3d(1,1,1) translate3d(0,0,0));
}

@mixin transition-props($props, $animation-interval, $timing-func) {
    -webkit-transition: #{$props} $animation-interval $timing-func, -webkit-transform $animation-interval $timing-func;
       -moz-transition: #{$props} $animation-interval $timing-func,    -moz-transform $animation-interval $timing-func;
         -o-transition: #{$props} $animation-interval $timing-func,      -o-transform $animation-interval $timing-func;
            transition: #{$props} $animation-interval $timing-func,         transform $animation-interval $timing-func;
}

@mixin transition-fade($animation-interval, $timing-func) {
    @include transition-props(opacity, $animation-interval, $timing-func);
}

// keyframes
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

// animation
@mixin animation-props($value) {
    -webkit-animation: #{$value};
       -moz-animation: #{$value};
         -o-animation: #{$value};
            animation: #{$value};
}

// -webkit-scrollbar
@mixin webkit-scrollbar {
    ::-webkit-scrollbar {
        width: 6px;
    }     

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
           -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
            -ms-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
             -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
                box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
            -ms-border-radius: 10px;
             -o-border-radius: 10px;
                border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
            -ms-border-radius: 10px;
             -o-border-radius: 10px;
                border-radius: 10px;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
           -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
            -ms-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
             -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
                box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        background: rgba(255,255,255,0.8); 
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,255,255,0.4); 
    }
}
