/*** ios swatch: global ***************************************************/

@import "../_theme.scss";

.ui-platform-ios {
    .ui-page-theme-#{$theme},
    .ui-bar-#{$theme},
    .ui-body-#{$theme},
    .ui-group-theme-#{$theme} {

        ///////////////////////////////////////////////////////////////////////
        // separators:

        .ui-separator {
            border-bottom-color: $color-ios-control-separator;
        }
        .ui-field-contain {
            border-bottom-color: transparent;
        }

        ///////////////////////////////////////////////////////////////////////
        // table opt-in classes: strokes between each row, and alternating row stripes
        // classes table-stroke and table-stripe are deprecated in 1.4.

        .table-stroke thead th,
        .table-stripe thead th,
        .table-stripe tbody tr:last-child {
            border-bottom: 1px solid $color-common-accent-dark;
        }
        .table-stroke tbody th,
        .table-stroke tbody td {
            border-bottom: 1px solid $color-common-accent-light-super;
        }
        .table-stripe.table-stroke tbody tr:last-child th,
        .table-stripe.table-stroke tbody tr:last-child td {
            border-bottom: 0;
        }
        .table-stripe tbody tr:nth-child(odd) td,
        .table-stripe tbody tr:nth-child(odd) th {
            background-color: $color-common-accent-light;
        }

        ///////////////////////////////////////////////////////////////////////
        // icon:

        [class*=ui-icon-],
        .ui-spinner {
            &:after {
                background-color: $color-ios-icon;
            }
        }

        .ui-alt-icon [class*=ui-icon-],
        [class*=ui-alt-icon-],
        .ui-back-indicator.ui-alt {
            &:after {
                background-color: $color-ios-alt-icon;
            }
        }

        // No disc
        .ui-nodisc-icon.ui-btn:after,
        .ui-nodisc-icon .ui-btn:after {
            background-color: initial;
        }

        ///////////////////////////////////////////////////////////////////////
        // shadow:

        .ui-shadow {
            box-shadow: 0 1px 3px $color-common-accent-transparent-light, 0 1px 2px $color-common-accent-transparent-dark;
        }
        .ui-shadow-inset {
            // none
        }
        .ui-overlay-shadow {
            box-shadow: 0 0 12px $color-common-accent-transparent-dark-super;
        }

        // icon shadow
        .ui-shadow-icon.ui-btn:after,
        .ui-shadow-icon .ui-btn:after {
            box-shadow: 0 1px 0 $color-common-accent-transparent-light-super;  // {global-icon-shadow}
        }
    }

    ///////////////////////////////////////////////////////////////////////
    // page and overlay:

    .ui-overlay-#{$theme},
    .ui-page-theme-#{$theme}.slide.out:after {
        background-color:   $color-ios-overlay-theme;
    }

    .ui-page-theme-#{$theme} .ui-panel-wrapper {
        background-color:   $color-ios-page-theme;
        border-color:       transparent;
        color:              $color-ios-control-font-label;
    }

    ///////////////////////////////////////////////////////////////////////
    // label:

    .ui-page-theme-#{$theme} label,
    .ui-page-theme-#{$theme} legend,
    .ui-bar-#{$theme} label,
    .ui-bar-#{$theme} legend,
    .ui-body-#{$theme} label,
    .ui-body-#{$theme} legend,
    .ui-group-theme-#{$theme} label,
    .ui-group-theme-#{$theme} legend {
        color: $color-ios-control-font-label;
    }
}
