/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */

.viewport-flip {
    perspective: 1000;
    position: absolute;
}

.flip {
    backface-visibility: hidden;
    transform: translateX(0);  /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
}

.flip.out {
    transform: rotateY(-90deg) scale(.9);
    animation-name: flipouttoleft;
    animation-duration: 175ms;
}

.flip.in {
    animation-name: flipintoright;
    animation-duration: 225ms;
}

.flip.out.reverse {
    transform: rotateY(90deg) scale(.9);
    animation-name: flipouttoright;
}

.flip.in.reverse {
    animation-name: flipintoleft;
}

@keyframes flipouttoleft {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-90deg) scale(.9);
    }
}

@keyframes flipouttoright {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(90deg) scale(.9);
    }
}

@keyframes flipintoleft {
    from {
        transform: rotateY(-90deg) scale(.9);
    }
    to {
        transform: rotateY(0);
    }
}

@keyframes flipintoright {
    from {
        transform: rotateY(90deg) scale(.9);
    }
    to {
        transform: rotateY(0);
    }
}
