/*** base structure: segmented control ***************************************************/

@import "../../_mixins.scss";
@import "../_metrics.scss";

[class*=ui-platform-] {
    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        .ui-radio, .ui-checkbox {
            .ui-btn {
                // button override:
                font-size:          $metrics-font-base-size * 0.875; // 14px
                min-width:          90px;
                padding:            ($metrics-font-base-size * 0.28125) 0;
                border-style:       solid;
                border-width:       1px;
                border-right-width: 0;
                font-weight:        normal;
                text-align:         center;
                background-clip:    border-box;
                transition:         background-color 0.32s ease-in-out;
                transform:          scale3d(1, 1, 1);
                &:not(.ui-first-child) {
                    border-top-left-radius:     initial;
                    border-bottom-left-radius:  initial;
                }
                &:not(.ui-last-child) {
                    border-top-right-radius:    initial;
                    border-bottom-right-radius: initial;
                }
                &.ui-last-child {
                    border-right-width: 1px;
                }
            }
            &:after {
                content: none;
                display: none;
            }
        }
    }
}
