/*** base structure: slider ***************************************************/

@import "../../_mixins.scss";
@import "../_metrics.scss";

///////////////////////////////////////////////////////////////////////
// 共通設定

.ui-slider-track.ui-mini {
    margin: 0 15px 0 68px;
}

.ui-control-right {
    .ui-slider-input {
        float: right;
    }
    .ui-slider-track {
        margin: 0 68px 0 15px;
    }
}

.ui-control-full {
    .ui-slider-input {
        display: none;
    }
    .ui-slider-track {
        margin-left: 15px;
    }
}

///////////////////////////////////////////////////////////////////////
// プラットフォーム専用

[class*="ui-platform-"] {
    .ui-slider-track {
        background-color:   initial;
        border:             initial;
        @include box-shadow(initial);
        &:after {
            content:        "";
            position:       absolute;
            width:          100%;
            height:         2px;
            top:            50%;
            margin-top:     -1px;
            pointer-events: none;
        }

        .ui-btn-active {
            background-color:   initial;
            &:after {
                content:        "";
                position:       absolute;
                width:          inherit;
                height:         2px;
                top:            50%;
                margin-top:     -1px;
                pointer-events: none;
                z-index:        1;
            }
        }

        // handle
        .ui-btn.ui-slider-handle {
            padding:            0;
            min-width:          initial;
            border:             none;
            overflow:           visible;
            font-size:          $metrics-font-base-size * 0.625;    // default: 10px
            line-height:        30px;       // 28 + (1 * 2)
            @include border-radius(50%);

            &:after {
                content:        "";
                position:       absolute;
                pointer-events: none;
                z-index:        -1;
                top:            50%;
                left:           50%;
                @include border-radius(50%);
            }
        }

        &.ui-mini {
            .ui-btn.ui-slider-handle {
                width:  28px;
                height: 28px;
            }
        }
    }

    .ui-control-inline {
        .ui-slider {
            margin:     0;
        }
        .ui-slider-track {
            .ui-btn.ui-slider-handle {
                z-index: 10;
            }
        }
    }

    // tooltip
    .ui-slider-popup {
        background-color:   initial;
        text-shadow:        initial;
        border:             initial;
        pointer-events:     none;
        font-size:          $metrics-font-base-size * 0.625;    // default: 10px
        line-height:        105px;
        @include box-shadow(#{"initial !important"});
        @include transition(line-height 0.24s ease, color 0.24s ease);

        &:after {
            content:        "";
            position:       absolute;
            bottom:         -24px;      // -17px -(30 - 16) / 2
            left:           50%;
            margin-left:    -13px;
            width:          26px;
            height:         26px;
            border-radius:  50% 50% 50% 0;
            z-index:        -1;
            visibility:     visible;
            pointer-events: none;
            @include transform(rotate(-45deg) scale(1) translate(17px, -17px));
            @include transition(transform 0.24s ease);
        }
    }
    .ui-slider-popup[style*=none] {
        display:        block !important;
        visibility:     hidden;
        color:          transparent;
        line-height:    160px;
        &:after {
            @include transform(rotate(-45deg) scale(0) translate(0));
        }
    }
}
