/*** base structure: spinner ***************************************************/

///////////////////////////////////////////////////////////////////////
// 共通設定

.ui-spinner-base {
    display: none;
}

///////////////////////////////////////////////////////////////////////
// プラットフォーム専用

[class*=ui-platform-] {
    .ui-spinner, .ui-icon-loading {
        position:   relative;
        z-index:    9999;
    }
}
